datasets==2.18.0
huggingface-hub==0.24.2
transformers==4.41.2
fsspec==2023.10.0
tokenizers==0.19.1
torch
imbalanced-learn
pandas
numpy==1.26.4
pyarrow>=15.0.0
scikit-learn
matplotlib
sentencepiece
protobuf==4.25.4
tqdm  # Added for progress bars
